@use '../../styles/var&mixin/mymixin';
@use '../../styles/var&mixin/myvar';


.CheckoutContainer{
    background-color: white;
    @include mymixin.objectsPosition(flex, column, nowrap, space-evenly, center);
    width: 32vw;
    min-width: 360px;
    // box-shadow: 1px 1px 12px rgba(0,0,0,0.1);
    // border-radius: 20px;
    
}

.CheckoutContainer__header{
    width: 100%;
    @include mymixin.objectsPosition(flex, row, nowrap, flex-start, center);
    padding: 15px 20px;
}

.CheckoutContainer__header_iconBack{
    color: myvar.$version1;
    width: 33px;
    height: 32px;
    cursor: pointer;
    margin-right: 20px;
}

.CheckoutContainer__header_iconBack:hover{
    color: white;
    background-color: myvar.$version1;
    width: 33px;
    height: 32px;
    border-radius: 4px;
}

.CheckoutContainer__header_iconBack:active{
    scale: 0.9;
}

.CheckoutContainer__header_title{
    font-weight: bold;
    @include mymixin.LinkTextForm(myvar.$version4, myvar.$fntSizeMd, left);
}

.CheckoutContainer__products{
    height: 300px;
    overflow-y: scroll;
    scrollbar-width: thin;
    width: 95%;
    padding-top: 15px;
}

.CheckoutContainer__resumeCart{
    width: 100%;
    height: 80px;
    background-color: rgb(249, 249, 249) !important;
    @include mymixin.objectsPosition(flex, row, nowrap, space-between, center);
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
    margin-bottom: 20px;
}

.buttonWithBackground{
    margin-top: 30px;
    margin-bottom: 10px;
    @include mymixin.Button(
        myvar.$white, 
        myvar.$version2, 
        myvar.$fntSizeMd, 
        80%, 
        50px,
        10px,
    );
}

.buttonWithBackground:active{
    scale: 0.9;
}