@use '../../styles/var&mixin/mymixin';
@use '../../styles/var&mixin/myvar';

.containerNewPassword{
    width: 100%;
    max-width: 320px;
    height: 100%;
    @include mymixin.objectsPosition(flex, column, nowrap, center, center);
}

.containerNewPassword__h3{
    @include mymixin.LinkTextForm(myvar.$version4, myvar.$fntSizeMd, center);
}

.containerNewPassword__p{
    font-size: myvar.$fntSizeSm;
    color: myvar.$version3;
    text-align: center;
    width: 90%;
}

.containerNewPassword .containerNewPassword__p{
    margin-top: 15px;
    margin-bottom: 30px;
}

.containerNewPassword__password{
    width: 100%;
    margin-bottom: 30px;
}

.containerNewPassword__reEnterPassword{
    width: 100%;
    margin-bottom: 30px;
}

.buttonWithBackground{
    margin-top: 30px;
    margin-bottom: 10px;
    @include mymixin.Button(
        myvar.$white, 
        myvar.$version2, 
        myvar.$fntSizeMd, 
        80%, 
        50px,
        10px,
    );
}